[project]
	description = http api gateway for pubsub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Azul (Azulinho)
[access "refs/for/refs/*"]
	read = group user/Azul (Azulinho)
	push = group user/Azul (Azulinho)
	label-Code-Review = -2..+2 group user/Azul (Azulinho)
	label-Verified = -1..+1 group user/Azul (Azulinho)
	rebase = group user/Azul (Azulinho)
	removeReviewer = group user/Azul (Azulinho)
	submit = group user/Azul (Azulinho)
[access "refs/heads/*"]
	read = group user/Azul (Azulinho)
	create = group user/Azul (Azulinho)
	push = +force group user/Azul (Azulinho)
	pushMerge = group user/Azul (Azulinho)
[access "refs/tags/*"]
	push = +force group user/Azul (Azulinho)
	createTag = group user/Azul (Azulinho)
	createSignedTag = group user/Azul (Azulinho)
